<!-- Level Header -->
<div>
  <h2>Level {{levelId() + 1}}: {{level.name}}</h2>
</div>

<div class="wrapper">

  <!-- Stats -->
  <div class="side-column">

    <!-- Snake Stats -->
    <h3>Snake</h3>
    <div class="section">
      <div class="section-line">
        <span>Distance traveled:</span>
        <span>{{game.stepsDone}}</span>
      </div>
    </div>
    <div class="section">
      <div class="section-line"> 
        <span>Current length:</span>
        <span>{{snake.body.length + 2}}</span>
      </div>
      <div class="section-line"> 
        <span>Food consumed:</span>
        <span>{{game.foodConsumed}}</span>
      </div>
    </div>
    @if (level.settings.enemies) {
      <div class="section">
        @if (level.settings.enemies[EnemyType.pile]) {
          <div class="section-line"> 
            <span>Piles hit:</span>
            <span>{{game.pilesHit}}</span>
          </div>
        }
        @if (level.settings.enemies[EnemyType.fire]) {
          <div class="section-line"> 
            <span>Fires hit:</span>
            <span>{{game.firesHit}}</span>
          </div>
        }
      </div>
      <div class="section">
        @if (level.settings.enemies[EnemyType.pile]) {
          <div class="section-line"> 
            <span>Nature damage:</span>
            <span>{{game.natureDamageTaken}}</span>
          </div>
        }
        @if (level.settings.enemies[EnemyType.fire]) {
          <div class="section-line"> 
            <span>Fire damage:</span>
            <span>{{game.fireDamageTaken}}</span>
          </div>
        }
        <div class="section-line">
          <span>Total damage:</span>
          <span>{{game.damageTaken}}</span>
        </div>
      </div>
    }
       
    <h3>Environment</h3>
    <div class="section">
      <div class="section-line">
        <span>Elapsed time:</span>
        <span>{{game.elapsedTime | secondsAsTime }}</span>
      </div>
    </div>
    <div class="section">
      <div class="section-line"> 
        <span>Food available:</span>
        <span>{{game.foodTotal}}</span>
      </div>
    </div>
    @if (level.settings.enemies) {
      <div class="section">
        @if (level.settings.enemies[EnemyType.pile]) {
          <div class="section-line"> 
            <span>Piles:</span>
            <span>{{game.piles}}</span>
          </div>
        }
        @if (level.settings.enemies[EnemyType.fire]) {
          <div class="section-line"> 
            <span>Fires:</span>
            <span>{{game.fires}}</span>
          </div>
        }
      </div>
    }
    @if (level.portals) {
      <div class="section">
        <div class="section-line"> 
          <span>Portals:</span>
          <span>{{level.portals.length}}</span>
        </div>
      </div>
    }    
  </div>

  <div class="main-column">

    <!-- Level Progress -->
    <div class="progress">
      <div class="label">Progress: </div>
      <div class="progress-bar-outer">
        <div class="progress-bar-inner" [ngStyle]="{'width': game.percentage + '%'}"></div>
      </div>
      <div class="label value">
        <div class="absolute">{{game.progress}} / {{level.settings.goal}}</div>
        <div class="percentage">({{game.percentage}}%)</div>
      </div>
    </div>

    <!-- Game Area -->
    <div class="game-area-wrapper">
    
      <div class="game-area" [ngClass]="{'fail': game.isFail, 'success': game.isVictory}">

        <!-- Obstacles -->
        @for (obstacle of level.constraints.obstacles; track $index) {
          <ng-template
            [ngTemplateOutlet]="gameBlock"
            [ngTemplateOutletContext]="{
              position: obstacle.position,
              class: BLOCK_CLASS[GameBlockType.obstacle][obstacle.type]
            }"
          />
        }

        <!-- Portals -->
        @for (portal of level.portals; track $index) {
          <ng-template
            [ngTemplateOutlet]="gameBlock"
            [ngTemplateOutletContext]="{
              position: portal.entrance,
              class: BLOCK_CLASS[GameBlockType.portal][PortalType.entrance]
            }"
          />
          <ng-template
            [ngTemplateOutlet]="gameBlock"
            [ngTemplateOutletContext]="{
              position: portal.exit,
              class: BLOCK_CLASS[GameBlockType.portal][PortalType.exit]
            }"
          />
        }

        <!-- Enemies, Food -->
        @for (column of game.space; track $index; let x = $index) {
          @for (block of column; track $index; let y = $index) {
            @if (game.space[x][y].type === GameBlockType.enemy) {
              <ng-template
                [ngTemplateOutlet]="gameBlock"
                [ngTemplateOutletContext]="{ 
                  position: { x, y },
                  class: BLOCK_CLASS[GameBlockType.enemy][block.subType!]
                }"
              />
            }
            @if (game.space[x][y].type === GameBlockType.food) {
              <ng-template
                [ngTemplateOutlet]="gameBlock"
                [ngTemplateOutletContext]="{
                  position: { x, y },
                  class: BLOCK_CLASS[GameBlockType.food]
                }"
              />
            }
          }
        }

        <!-- Snake -->
        <ng-template
          [ngTemplateOutlet]="gameBlock"
          [ngTemplateOutletContext]="{
            position: snake.head.currentPosition,
            class: 'snake-block head ' + SNAKE_END_BLOCK_CLASS[snake.head.currentDirection]
          }"
        />
        @for (block of snake.body; track $index) {
          <ng-template
            [ngTemplateOutlet]="gameBlock"
            [ngTemplateOutletContext]="{
              position: block.currentPosition,
              class: 'snake-block ' + SNAKE_BODY_BLOCK_CLASS[block.type]
            }"
          />
        }
        <ng-template
          [ngTemplateOutlet]="gameBlock"
          [ngTemplateOutletContext]="{
            position: snake.tail.currentPosition,
            class: 'snake-block tail ' + SNAKE_END_BLOCK_CLASS[snake.tail.currentDirection]
          }"
        />

      </div>
    </div>

    <!-- Level Controls -->
    <div class="controls">
      <button type="button" (click)="startTimer()">Start</button>
      <button type="button" (click)="stopTimer()">Pause</button>
      <button type="button" (click)="resetGame()">Reset</button>
      <div class="direction-button-container">
        <button type="button" class="up" (click)="changeDirection(Direction.up)"></button>
        <button type="button" class="down" (click)="changeDirection(Direction.down)"></button>
        <button type="button" class="left" (click)="changeDirection(Direction.left)"></button>
        <button type="button" class="right" (click)="changeDirection(Direction.right)"></button>
      </div>
      <button type="button" (click)="startNextLevel()">Next Level</button>
      <button type="button" (click)="showMenu()">Menu</button>
    </div>

  </div>

  <div class="side-column">
    <h3>Instructions</h3>
    <ul>
      @for (instruction of level.instructions; track $index) {
        <li>{{instruction}}</li>
      }
    </ul>
  </div>

</div>

<!-- Game Block Template -->
<ng-template #gameBlock let-position="position" let-class="class"> 
  <div
    class="game-block {{class}}"
    [ngStyle]="{
      'left.px': BLOCK_SIZE * position.x,
      'bottom.px': BLOCK_SIZE * position.y
    }">
  </div>
</ng-template>