:host {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 8px;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  & button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333;
    color: #aaa;
    cursor: pointer;
  }
}

.controls-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: #111;
  animation: grow .2s;
}

.overlay-header {
  width: 80%;
  padding-bottom: 2px;
  border-bottom: 1px solid;
  font-size: 20px;
  text-align: center;
}

.overlay-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}



$container-diameter: 88px;
$button-width: calc($container-diameter / 2);
$button-height: 26px;

.direction-button-container {
  position: relative;
  width: $container-diameter;
  height: $container-diameter;
  border-radius: 50%;
  background-color: #222;
  color: #bbb;
  overflow: hidden;
  button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $button-width;
    height: $button-height;
    background-color: #333;
    clip-path: polygon(
      0 calc($button-height / 2), calc($button-height / 2) 0, 
      100% 0, 100% 100%, 
      calc($button-height / 2) 100%, 0 calc($button-height / 2)
    );
    &:after {
      content: '';
      position: absolute;
      top: 25%;
      left: 50%;
      width: 50%;
      height: 50%;
      background-color: #aaa;
      clip-path: polygon(0 0, 100% 50%, 0 100%, 0 100%, 25% 50%, 0% 0%);
      transform: scale(0.8) translateX(calc(-1 * $button-width / 8));
    }
  }
  .up {
    top: calc($button-width / 2 - $button-height / 2 - 1px);
    left: calc(50% - $button-width / 2);
    transform: rotate(-90deg);
  }
  .down {
    top: calc(50% + $button-width / 2 - $button-height / 2 + 1px);
    left: calc(50% - $button-width / 2);
    transform: rotate(90deg);
  }
  .left {
    top: calc(50% - $button-height / 2);
    left: -1px;
    transform: rotate(180deg);
  }
  .right {
    top: calc(50% - $button-height / 2);
    left: calc(50% + 1px);
  }
}