<!-- Snake Stats -->
<h3>Snake</h3>

<div class="section">
  <div class="section-line">
    <span>Distance traveled:</span>
    <span>{{game().stepsDone}}</span>
  </div>
</div>

<div class="section">
  <div class="section-line"> 
    <span>Current length:</span>
    <span>{{snake().body.length + 2}}</span>
  </div>
  <div class="section-line"> 
    <span>Food consumed:</span>
    <span>{{game().foodConsumed}}</span>
  </div>
</div>

@if (level().settings.enemies; as enemies) {
  <div class="section">
    @if (enemies[EnemyType.pile]) {
      <div class="section-line"> 
        <span>Piles hit:</span>
        <span>{{game().pilesHit}}</span>
      </div>
    }
    @if (enemies[EnemyType.fire]) {
      <div class="section-line"> 
        <span>Fires hit:</span>
        <span>{{game().firesHit}}</span>
      </div>
    }
  </div>
  <div class="section">
    @if (enemies[EnemyType.pile]) {
      <div class="section-line"> 
        <span>Nature damage:</span>
        <span>{{game().natureDamageTaken}}</span>
      </div>
    }
    @if (enemies[EnemyType.fire]) {
      <div class="section-line"> 
        <span>Fire damage:</span>
        <span>{{game().fireDamageTaken}}</span>
      </div>
    }
    <div class="section-line">
      <span>Total damage:</span>
      <span>{{game().damageTaken}}</span>
    </div>
  </div>
}

<!-- Level Stats -->
<h3>Environment</h3>

<div class="section">
  <div class="section-line">
    <span>Elapsed time:</span>
    <span>{{game().elapsedTime | secondsAsTime }}</span>
  </div>
</div>

<div class="section">
  <div class="section-line"> 
    <span>Food available:</span>
    <span>{{game().foodTotal}}</span>
  </div>
</div>

@if (level().settings.enemies; as enemies) {
  <div class="section">
    @if (enemies[EnemyType.pile]) {
      <div class="section-line"> 
        <span>Piles:</span>
        <span>{{game().piles}}</span>
      </div>
    }
    @if (enemies[EnemyType.fire]) {
      <div class="section-line"> 
        <span>Fires:</span>
        <span>{{game().fires}}</span>
      </div>
    }
  </div>
}

@if (level().portals; as portals) {
  <div class="section">
    <div class="section-line"> 
      <span>Portals:</span>
      <span>{{portals.length}}</span>
    </div>
  </div>
}
