* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

button {
  border: none;
  cursor: pointer;
}