@use '../../styles' as *;

:host {
  background: url('/backgrounds/menu.webp');
  background-size: 256px 128px;
  @include page;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 1200px;
  margin: 50px auto;
  gap: 10px;
}

.level-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border-radius: 10px;
  background: #222;
  color: #aaa;
  cursor: pointer;
}